@page "/"
@inject NavigationManager Navigation

<PageTitle>loading</PageTitle>

<div class="py-5 text-secondary">loading sales chart...</div>

@code {

	protected override void OnInitialized()
	{
		Navigation.NavigateTo("/sales-chart");
	}

}
