@inherits LayoutComponentBase
<div class="page">
	<header class="top-row px-4">
		<div class="layout-shell">
			<span class="layout-title">sales chart</span>
		</div>
	</header>

	<main class="main-content">
		<article class="content px-4">
			@Body
		</article>
	</main>
</div>
